extends layout

block content
  h1 Lingo!

  p Total number of quizzes taken
  p Number of quizzes passed
  p Number of quizzes failed
  p % quizzes passed
  p Total number of words translated
  p Number of words correctly translated
  p Number of words incorrectly translated
  p % words translated correctly
  Best 10 words
  Worst 10 words