extends layout

block content
  h1 Lingo Translate!

  ul
    li
      a(href="/") Home
    li
      a(href="/translate") Translate
    li
      a(href="/quiz") Quiz

  form(action="/translateForm" method="post")
    p 
      label WORD:  
      input(type="text" name="word" value="ball")
    p 
      label FROM:  
      input(type="text" name="from" value="eng")
    p
      label TO:  
      input(type="text" name="to" value="chi")
    p 
      input(type="submit")

  p=result