extends layout

block content
  h1 Lingo Translate!

  form(action="/translateForm" method="post")
    p 
      label WORD:  
      input(type="text" name="word")
    p 
      label FROM:  
      input(type="text" name="from")
    p
      label TO:  
      input(type="text" name="to")
    p 
      input(type="submit")

  p=result